<div class="col-md-4 col-centered">

	<h2 class="text-center">New User Skill Assignment</h1>

	<%= render 'form' %>

	<%= link_to 'Back', user_skill_assignments_path, :class => 'btn btn-default' %>
	
</div>