<div class="col-md-4 col-centered">

	<p id="notice"><%= notice %></p>
	<h2><%= @skill.name %></h2>

	<center>
		<%= link_to 'Edit', edit_skill_path(@skill), :class => 'btn btn-success' %> |
		<%= link_to 'Back', skills_path, :class => 'btn btn-default' %>
	</center>

</div>