			
			
		</div>			
		<div id="footer">
		
			<div class="row-fluid">
				<div class="span2 pull-right">
					<a href="<%= url_for root_path %>" class="brand"><img alt="Competency Tracker" src="<%= image_url('logo.png')  %>"></a>
					<small><span>&copy; 2016 Our Company</span></small>
				</div>
			</div>
		</div>
    </div>
    <!-- /.container -->

</body>

</html>
